:root {
    --banner: deepskyblue;
    --bannerText: dimgray;
    --font2: 'mario'
}

table {
    background-color: var(--background1);
}

.red {
    background-color: indianred;
}

.coins {
    background-color: goldenrod;
}

#starHaven {
    filter: drop-shadow(1px 1.5px 0 brown);
    background: linear-gradient(to bottom, orangered, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}